.body-font {
  font-family: "Josefin Sans", sans-serif;
}
.font-footer {
  font-family: "Vujahday Script", cursive;
}
h1 {
  font-size: 50px;
}
.color-part {
  color: cyan;
  padding-top: 10px;
  margin-top: 5px;
}
.heading-part {
  border-left: 5px solid orangered;
  padding-left: 2px;
}
.container-banner {
  display: flex;
  margin: 100px auto 50px;
}
.set-flex {
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
}
.set-flex img {
  width: 80%;
  margin-bottom: 15%;
}
.button-anchor {
  text-decoration: none;
  background-color: orangered;
  padding: 10px 50px;
  color: #fff;
  border-radius: 5px;
}
.mission-class {
  text-align: center;
}
.container-banner-2 {
  display: flex;
  margin: 10px 10px 10px 10px;
}
.container-banner-2 img {
  width: 20%;
}
.mission-futre {
  padding: 40px;
  color: #fff;
  margin-left: 30px;
  border-radius: 10px;
}
#mission {
  background-color: rgb(231, 218, 218);
}
#vission {
  background-color: rgb(129, 207, 238);
}
#goals {
  background-color: rgb(231, 102, 102);
}
.set-flex-1 {
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
}
.banner-second {
  display: flex;
}
.banner-second img {
  width: 50%;
  margin: 10px;
  padding-left: 40px;
  padding-top: 20px;
}
.banner-second-1 {
  display: flex;
  padding-left: 40px;
}
.banner-second-1 img {
  width: 60%;
  margin: 10px;
  padding-left: 40px;
  padding-top: 20px;
}
.mission-class-2 {
  text-align: center;
}
.banner-second-2 {
  display: flex;
  padding-left: 40px;
  padding-top: 60px;
}
.banner-second-2 img {
  width: 60%;
  margin: 10px;
  padding-left: 40px;
  padding-top: 20px;
}
.footer {
  text-align: center;
  color: #fff;
  background-color: black;
}
